header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 3em;
    padding: 92px 49px 92px 39px;
}

#logo {
    height: 105px;
    padding-left: 10px;
}

nav {
    display: flex;
    align-items: center;
    
}

  nav a {
    text-decoration: none;
    font-size: 18px;
  }

  nav ul {
    padding-right: 14px;
    list-style: circle;
    display: flex;
    gap: 31px;
  }

.non-mark {
    list-style: none;
}

address {
    font-family: Raleway, sans-serif;
    font-style: normal;
    line-height: 24px;
    padding-top: 5px;
    padding-left: 174px;
    font-size: 18px;
}

a.custom_link {
    text-decoration: none;
    border-bottom: 1.5px solid black;  
}

.bottom_border_none {
    text-decoration: none;
}

.cover {
    display: flex;
    flex-direction: column;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 50px;
    position: relative;
}

.cover_title {
    z-index: 1;
    color: white;
    font-size: 100px;
    font-weight: 700;
    margin: 165px 20px 0px;
}

.cover::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: black;
    opacity: 0.6;
}

.title {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

#word_start {
    padding-left: 30px;
    letter-spacing: 30px;
    font-size: 100px;
}

#margin_letter_start {
    margin-left: 30px;
}

#word_center {
    text-align: center;
    letter-spacing: 30px;
    font-size: 100px;
    margin-top: 9px;
}

#margin_letter_center {
    margin-right: 60px;
}

#last_letter_center {
    position: relative;
    right: 30px;
}

#word_end {
    text-align: right;
    font-size: 100px;
    margin-top: 1px;
    letter-spacing: 30px;
}

#padding_letter_end {
    padding-left: 30px;
}

.text_and_button {
    display: flex;
    align-items: center;
    z-index: 1;
    font-size: 22px;
    font-weight: 400;
    word-spacing: 16.5px;
    text-transform: uppercase;
    color: white;
    margin-top: 126px;
    justify-content: end;
    gap: 51px;
}

#word_padding_left {
    padding-left: 4px;
}

button {
    background-color: transparent;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    border: 2px solid white;
    padding: 12px 32px;
    margin-left: 28px;
    margin-right: 50px;
    transition: 0.5s;

}

button:hover {
    background-color: white;
    color: black;
}

.lots_section {
    background-color: white;
}

.lots_and_cards {
    padding: 180px 50px 0px;
}

.title_lots {
    background-color: white;
    font-weight: 700;
    padding-left: 40px;
    padding-bottom: 27px;
    font-size: 40px;
}

.lots {
    background-color: white;
    display: flex;
}

.lots_card_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding-left: 0;
    padding-right: 0;
  }
  
  .lots_card_list_item {
    background-repeat: no-repeat;
    background-size: cover;
    list-style: none;
    aspect-ratio: 43 / 45;
    width: 100%;
    overflow: hidden;
  }

.background_card_film {
    background-image: url(../images/card-lot-01.jpg);
}

.background_card_book {
    background-image: url(../images/card-lot-02.jpg);
}

.background_card_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.blackout_card {
    text-decoration: none;
    position: relative;
}

.blackout_card::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%; 
    height: 450px; 
    background: rgba(0, 0, 0, 0.6);
}

.title_in_card {
    position: relative;
    color: white;
    text-decoration: underline;
    font-size: 22px;
    font-weight: 700;
    z-index: 9;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 40px;
    height: 100%;
}

#size_font_editing {
    font-size: 22px;
}

.paragraph_in_card {
    display: flex;
    flex-direction: column;
    color: white;
    line-height: 24px;
    font-weight: 400;
    z-index: 9;
    font-size: 20px;
}

#see_more {
    font-size: 20px;
    display: flex;
    margin-top: 31px;
    margin-left: 90px;
}

.about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-left: 57px;
    padding-right: 57px;
    padding-top: 180px;
    background-color: white;
}

.h3 {
    font-size: 22px;
    word-spacing: 15px;
}

.black_circle {
    background-color: black;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    margin-left: 88px;
}

.white_logo {
    height: 114px;
    position: relative;
    top: 63px;
}

.text_about {
    padding-top: 101px;
    padding-left: 6px;
}

.text_about p {
    font-size: 20px;
    font-weight: 400;
    line-height: 23.5px;
}

.text_about h2 {
    font-size: 40px;
    margin-bottom: 100px;
    text-transform: uppercase;
}

.text_info {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

footer {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    padding-top: 180px;
    background-color: white;
}

.columns_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 13px;
    padding-top: 4px;
    gap: 0;
}

.nav_links_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

.icones {
    height: 48px;
    width: auto;
}

.footer_address {
    padding-left: 50px;
    padding-bottom: 90px;
}

.socials {
    display: grid;
    grid-template-columns: 1fr 0.3fr 1fr;
    text-align: center;
    padding-top: 5px;
    padding-left: 140px;
}


.padding_list_footer {
    padding-left: 20px;
    padding-top: 1px;
}