header {
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 3em;
    padding: 92px 49px 92px 51px;
}

#logo{
    height: 105px;
}

nav {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-right: 20px;
    align-items: center;
    font-size: 18px;
    gap: 18px;
}

ul {
    list-style: circle;
    padding-left: 5px;
    padding-right: 5px;
}

.non-mark {
    list-style: none;
}

address {
    font-family: Raleway, sans-serif;
    font-style: normal;
    padding-left: 170px;
    font-size: 18px;
}

a.custom_link {
    text-decoration: none;
    border-bottom: 1.5px solid black;  
    line-height: 1.5;
}

#bottom_border {
    border-bottom: 2px solid black;
    width: fit-content;
}

.bottom_border_none {
    text-decoration: none;
}

.cover {
    display: flex;
    flex-direction: column;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 50px;
    position: relative;
}

.cover_title {
    width: 100%;
    z-index: 1;
    color: white;
    font-size: 100px;
    font-weight: 700;
    margin: 165px 50px 0px;
}

.cover::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: black;
    opacity: 0.6;
}

.title {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

#word_start {
    letter-spacing: 30px;
    font-size: 100px;
}

#margin_letter_start{
    margin-left: 30px;
}

#word_center {
    text-align: center;
    padding-right: 100px;
    letter-spacing: 30px;
    font-size: 100px;
    margin-top: 9px;
}

#margin_letter_center{
    margin-right: 60px;
}

#word_end {
    text-align: right;
    padding-right: 100px;
    font-size: 100px;
    margin-top: 1px;
    letter-spacing: 30px;
}

#margin_letter_end{
    position: relative;
    left: 30px;
}

.text_and_button {
    display: flex;
    z-index: 1;
    font-size: 18px;
    font-weight: 400;
    word-spacing: 19.5px;
    text-transform: uppercase;
    color: white;
    margin-top: 138px;
    justify-content: end;
    gap: 51px;
}

#word_padding_left{
    padding-left: 4px;
}

button {
    background-color: transparent;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    border: 2px solid white;
    padding: 12px 32px;
    margin-left: 28px;
    margin-right: 50px;
    margin-top: -14px;
    transition: 0.5s;

}

button:hover {
    background-color: white;
    color: black;
}

.lots_section {
    background-color: white;
}

.lots_and_cards {
    padding: 180px 50px;
}

.title_lots {
    background-color: white;
    font-weight: 700;
    padding-left: 40px;
    padding-bottom: 27px;
    font-size: 40px;
}

.lots {
    background-color: white;
    display: flex;
}

.lots_card_list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding-left: 0;
    padding-right: 0;
}

.lots_card_list_item {
    list-style: none;
    width: 430px;
}

.background_card_film{
    background-image: url(../images/card-lot-01.jpg);
}

.background_card_book{
    background-image: url(../images/card-lot-02.jpg);
}

.background_card_picture{
    background-image: url(../images/card-lot-03.jpg);
}

.background_card_film,
.background_card_book,
.background_card_picture{
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
}

.blackout_card {
    text-decoration: none;
    position: relative;
}

.blackout_card::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%; 
    height: 450px; 
    background: rgba(0, 0, 0, 0.5);
}

.title_in_card {
    position: relative;
    color: white;
    text-decoration: underline;
    top: 51px;
    left: 40px;
    font-size: 22px;
    font-weight: 700;
    z-index: 9;
}

#size_font_editing{
    font-size: 22px;
}

.paragraph_in_card_film,
.paragraph_in_card_book,
.paragraph_in_card_picture {
    position: relative;
    color: white;
    word-spacing: 3px;
    left: 40px;
    word-spacing: 0px;
    line-height: 24px;
    font-weight: 400;
    z-index: 9;
    font-size: 20px;
}


.paragraph_in_card_film {
    top: 253px;
}

.paragraph_in_card_book {
    top: 84px;
}

.paragraph_in_card_picture {
    top: 131px;
}

#see_more {
    font-size: 20px;
    display: flex;
    margin-top: 32px;
    margin-left: 40px;
}

.about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-left: 57px;
    padding-right: 57px;
    background-color: white;
}

.h3 {
    font-size: 22px;
    word-spacing: 15px;
}

.black_circle {
    background-color: black;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    margin-left: 88px;
}

.white_logo {
    height: 114px;
    position: relative;
    top: 63px;
}

.text_about {
    padding-top: 101px;
    padding-left: 6px;
}

.text_about p {
    font-size: 20px;
    font-weight: 400;
    line-height: 23.5px;
}

.text_about h4 {
    font-size: 40px;
    margin-bottom: 100px;
    text-transform: uppercase;
}

.text_info {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

footer {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    padding-top: 180px;
    background-color: white;
}

.columns_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-top: 4px;
    gap: 0;
}

.icones {
    height: 48px;
    width: auto;
}

.footer_address {
    padding-left: 50px;
    padding-bottom: 90px;
}

.socials {
    display: flex;
    justify-content: space-evenly;
    padding-top: 3px;
    padding-left: 140px;
}

.padding_socials ul{
    padding: 0;
}

.padding_list_footer{
    padding-left: 20px;
    padding-top: 1px;
}